<!-------------------------- MESSAGES PAGE 📩 --------------------------->

<!-- COLUMNS -->
<div class="container py-2">
  <div class="row">
  
  <!-- Left Column -->
    <div class="col-1 side-navbar"> 
    <!-- Sidebar Navbar -->
      <!-- Twitter Logo -->
      <span class="d-flex align-items-center fs-4 mb-3 ms-4"><a href="<%# /feed_route %>" class="<%# icon only%>" ><svg class="twitter-logo" viewBox="0 0 25 25" width="32px" height="32px"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z" fill="rgb(29, 155, 240)"></path></g></svg></span>
      </a>
      
      <!-- Home Icon -->
      <span class="d-flex align-items-center fs-4 mb-3 ms-4"><a href="/dashboard" class="<%# icon only%>" ><svg class="icon" viewBox="0 0 25 25" width="32px" height="32px"><g><path d="M12 9c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4zm0 6c-1.105 0-2-.895-2-2s.895-2 2-2 2 .895 2 2-.895 2-2 2zm0-13.304L.622 8.807l1.06 1.696L3 9.679V19.5C3 20.881 4.119 22 5.5 22h13c1.381 0 2.5-1.119 2.5-2.5V9.679l1.318.824 1.06-1.696L12 1.696zM19 19.5c0 .276-.224.5-.5.5h-13c-.276 0-.5-.224-.5-.5V8.429l7-4.375 7 4.375V19.5z"></path></g></svg></span>
      </a>

      <!-- Search Icon -->
      <span class="d-flex align-items-center fs-4 mb-3 ms-4"><a href="/search" class="<%# icon only%>" ><svg class="icon" viewBox="0 0 25 25" width="32px" height="32px"><g><path d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"></path></g></svg></span>
      </a> 

      <!-- Bell/Notifications Icon -->
      <span class="d-flex align-items-center fs-4 mb-3 ms-4"><a href="/notifications" class="<%# icon only%>" ><svg class="icon" viewBox="0 0 25 25" width="32px" height="32px"><g><path d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z"></path></g></svg></span>
      </a> 

      <!-- Messages Icon -->
      <span class="d-flex align-items-center fs-4 mb-3 ms-4"><a href="/messages" class="<%# icon only%>" ><svg class="icon" viewBox="0 0 25 25" width="32px" height="32px"><g><path d="M1.998 4.499c0-.828.671-1.499 1.5-1.499h17c.828 0 1.5.671 1.5 1.499v2.858l-10 4.545-10-4.547V4.499zm0 5.053V19.5c0 .828.671 1.5 1.5 1.5h17c.828 0 1.5-.672 1.5-1.5V9.554l-10 4.545-10-4.547z"></path></g></svg></span>
      </a> 

      <!-- Profile Icon -->
      <span class="d-flex align-items-center fs-4 mb-4 ms-4"><a href="/profile" class="<%# icon only%>" ><svg class="icon" viewBox="0 0 25 25" width="32px" height="32px"><g><path d="M5.651 19h12.698c-.337-1.8-1.023-3.21-1.945-4.19C15.318 13.65 13.838 13 12 13s-3.317.65-4.404 1.81c-.922.98-1.608 2.39-1.945 4.19zm.486-5.56C7.627 11.85 9.648 11 12 11s4.373.85 5.863 2.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H3.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46zM12 4c-1.105 0-2 .9-2 2s.895 2 2 2 2-.9 2-2-.895-2-2-2zM8 6c0-2.21 1.791-4 4-4s4 1.79 4 4-1.791 4-4 4-4-1.79-4-4z"></path></g></svg></span>
      </a> 

       <!-- Compose Tweet Button -->
      <a href="#" class="d-flex align-items-center fs-4 mb-3 ms-3" data-bs-toggle="modal" data-bs-target="#compose-modal">
        <div style="display: inline-block; background-color: rgb(29, 155, 240); border-radius: 100%; padding: 5px;" class="icon", id ="compose-tweets">
          <svg viewBox="0 0 26 30" width="35px" height="30px"><g><path d="M23 3c-6.62-.1-10.38 2.421-13.05 6.03C7.29 12.61 6 17.331 6 22h2c0-1.007.07-2.012.19-3H12c4.1 0 7.48-3.082 7.94-7.054C22.79 10.147 23.17 6.359 23 3zm-7 8h-1.5v2H16c.63-.016 1.2-.08 1.72-.188C16.95 15.24 14.68 17 12 17H8.55c.57-2.512 1.57-4.851 3-6.78 2.16-2.912 5.29-4.911 9.45-5.187C20.95 8.079 19.9 11 16 11zM4 9V6H1V4h3V1h2v3h3v2H6v3H4z" fill="white"></path></g></svg>
        </div>
      </a>

      <!-- Logout Button --> 
      <div class="position-relative ms-4 w-100">
        <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "position-absolute link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
      </div>

    </div>
    <!-- Sidebar Navbar fin -->
  <!-- Left Column fin -->

  <!-- Center Column -->
    <div class="col-7 ms-5">    
    <!-- messages form -->
      <%= link_to "Messages", messages_path, class: "fs-4 link-offset-2 link-underline link-underline-opacity-0 page-title", style: "color: black" %>
    </div>
 <!-- Center Column fin -->

<!-- Right Column -->
    <div class="col">
      Search Bar
    </div>
<!-- Right Column fin -->
</div>
<!-- COLUMNS fin -->


<!-- TWEETS MODAL -->
<div class="modal fade" id="compose-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Compose Tweet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="tweet-text" class="col-form-label">Tweet text:</label>
          <textarea class="form-control" id="tweet-text"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Tweet</button>
      </div>
    </div>
  </div>
</div>