<!-- TWEETS MODAL ðŸ–Šï¸ -->

<div class="modal" id="compose-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      <!-- tweet form -->
        <%= form_with model: Tweet.new, url: tweets_path, method: :post, local: true do |f| %>
          <%= f.text_area :body, placeholder: "What is happening?!", class: "form-control w-100 tweet-input"%>
        <div class="text-end">
          <%= f.submit "Tweet", class: "btn btn-primary rounded-pill tweet-button" %>
        </div>

        <% end %> 
      </div>
    </div>
  </div>
</div>
