<!-- TWEETS MODAL ðŸ–Šï¸ -->

<div class="modal" id="compose-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      <!-- tweet form -->
      <%= render "tweets/form"  %>
      </div>
    </div>
  </div>
</div>
