<div class="tweet py-3 px-3">
  <p>@<%= tweet.user.username %> ·
    <% if tweet.created_at < 1.day.ago %>
      <%= tweet.created_at.strftime("%B %e") %>
    <% else %>
      <%= distance_of_time_in_words(Time.now, tweet.created_at, include_seconds: false, abbreviated: true) %>
    <% end %>
  </p>
  <p class="mb-0"><%= tweet.body %></p>
</div>
