/* NAVIGATION BAR */
/* .side-navbar {
    background-color: ""
}; */


/* SideBar Icons 👀*/
.icon {
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    /* background-color: #D3D3D3; Twitter changes background color on hover but i like my transition */
    transform: scale(1.5);
}


    /* Twitter Logo 👀*/
    .twitter-logo:hover {
        transform: scale(1.5);
    }

    .twitter-logo {
        animation: fly 3s infinite;
    }

    /* Made the Twitter Logo Fly */
    @keyframes fly {
        50% {
            transform: translateY(12px) rotate(6deg);
        }
    };


/* TWEET FORM */
.tweet-input {
    border: 0;
    
}