.back-arrow {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.back-arrow:hover {
    transform: scale(1.5);
    border-radius: 50%;
}

.btn-outline-twitter {
    background-color: white;
    color: rgb(29, 155, 240);
    border-color: rgb(29, 155, 240);
    transition: all 0.1s ease-in;
    font-weight: 600;
    color: black;
}

.btn-outline:hover {
    background-color: rgb(29, 155, 240) !important;
    color: white !important;
}