// Individual Tweets
.tweet:hover {
    background-color: rgb(250, 247, 247);
    cursor: pointer;
}

/* TWEET FORM */
.tweet-input {
    border: 0;
    font-size: 1.4rem;

}

// For removing border outline when usr clicks in text field
.form-control:focus {
    border-color: inherit;
    box-shadow: none;
}

// title 
a.page-title {
    font-weight: bold;
}

// tweet button
.tweet-button {
    --bs-btn-font-weight: 600;
    background-color: rgb(29, 155, 240);
    box-shadow: none;
}

;